




    <footer>
        <div class="footer-content">
            <p>&copy; 2025 TrackTrails. All rights reserved.</p>
            <ul class="footer-links">
                <!-- <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/terms">Terms of Service</a></li> -->
                <li><a href="https://github.com/yourusername" target="_blank"><i class="fa-brands fa-github" style="color: #000000;"></i></a></li>
            </ul>
        </div>
    </footer>
</html>