<div class="footer-container">
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 TrackTrail. All rights reserved.</p>
            <a href="https://github.com/maksjanu" target="_blank"><i class="fa-brands fa-github" style="color: #000000;"></i></a>
        </div>
    </footer>
</div>
