<%- include('partials/header') %>

<body>
    <div class="container">
        <div class="logo">
            <img src="/images/trackTrails.svg" alt="Logo">
        </div>
        <div class="buttons">
            <button class="login-button" onclick="window.location.href='/auth?type=login'">Log In</button>
            <button class="register-button" onclick="window.location.href='/auth?type=register'">Register</button>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
