<%- include('../partials/header') %>

<body class="addAlbum-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <h1>Upload an Album</h1>
        <form id="albumForm" method="post" action="/api/album" enctype="multipart/form-data" onsubmit="return handleSubmit(event)">
            <input type="text" name="title" placeholder="Title" required>
            <input type="text" name="genre" placeholder="Genre" required>
            <input type="date" name="releaseDate" placeholder="Release date" required>
            <div class="add-tracks">
                <input type="text" name="tracklist" placeholder="Track" required>
                <button class="add-track" type="button">+</button>
            </div>
            <input id="cover-input" type="file" name="image" placeholder="Cover" accept="image/*" required>
            <button class="full-width" type="submit">Upload</button>
        </form>

    </div>

    <%- include('../partials/footer') %>

    <script src="/js/userMenu.js"></script>
    <script src="/js/addTracks.js"></script>
    <script src="/js/albumSubmit.js"></script>
</body>
</html>