<%- include('../partials/header') %>

<body class="auth-page">
    <div class="main-container">
        <div class="logo">
            <img src="/images/trackTrails.svg" alt="Logo">
        </div>

        <div class="form-container">
            <% if (locals.type === 'login') { %>
                <form id="loginForm" method="post" action="/api/login">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button class="full-width" type="submit">Log In</button>
                </form>
            <% } else if (locals.type === 'register') { %>
                <form id="registerForm" method="post" action="/api/register">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <select name="role" required>
                        <option value="" disabled selected>Select Role</option>
                        <option value="user">User</option>
                        <option value="artist">Artist</option>
                    </select>
                    <button class="full-width" type="submit">Register</button>
                </form>
            <% } %>
        </div>

    </div>

    <%- include('../partials/footer') %>
</body>
</html>