<%- include('../partials/header') %>

<body class="dashboard-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <div class="dashboard-section">
            <div class="container">

                <div class="user-details">
                </div>

                <div class="albums-display">
                </div>

                <button class="dashboard-album-button" onclick="location.href='/album'">Upload Album</button>

                <button class="dashboard-studio-button" onclick="location.href='/studio-session'">Plan Studio Session</button>

                <div class="sessions-display">
                </div>

                <div class="user-buttons">
                </div>

                <div class="chat">
                    <div class="chat-messages"></div>
                    <form id="chat-form" data-user-role="<%= user.role %>">
                        <input type="text" id="message-input" placeholder="Type a message...">
                        <button type="submit">Send</button>
                    </form>
                </div>

            </div>
        </div>


    </div>

    <%- include('../partials/footer') %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/js/userMenu.js"></script>
    <script src="/js/userChat.js"></script>
</body>
</html>