<%- include('../partials/header') %>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo-nav">
                <img src="/images/trackTrails.svg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/albums">Albums</a></li>
                <li><a href="/studio-sessions">Studio Sessions</a></li>
            </ul>

            <a href=""><i class="fa-solid fa-user" style="color: #000000;"></i></a>
        </nav>


    </div>

    <%- include('../partials/footer') %>
</body>
</html>