    
    
.auth-page {
    /* auth.ejs styling start */

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;

        .logo {
            img {
                width: 500px;
            }
        }
    }


    .form-container {
        #loginForm, #registerForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;

            input {
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
            }

            .full-width {
                cursor: pointer;
                padding: 5px 50px 5px 50px;
                font-size: 20px;
                font-weight: 600;
                color: white;
                background-color: black;
                border: 1px solid black;
                border-radius: 10px;
                transition: background-color 0.3s;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

                &:hover {
                    background-color: #474747;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
                }
            }
        }

        #registerForm {
            select {
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
                width: 100%;
                max-width: 300px;
                background-color: white;
                color: #808080;
            }

            #profilePic {
                cursor: pointer;
                padding: 5px 10px 5px 10px;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
            }
        }
    }
    /* auth.ejs styling end */
}