    
.main-page {
    /* main.ejs styling start */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #F8FAFC;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        height: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    
        .logo-nav {
            display: flex;
            justify-content: flex-start;
            img {
                width: 180px;
                height: auto;
            }
        }
    
        .nav-links {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            gap: 60px;
            margin-right: 10px;

    
            li {
                a {
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                    font-size: 18px;
                    transition: color 0.3s;
    
                    &:hover {
                        color: #ddd;
                    }
                }
            }
        }
    
        .user-icon-container {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            margin: 30px 50px 20px 20px;

            #user-icon {
                text-align: center;
                i {
                    font-size: 24px;
                    color: black;
                    transition: color 0.3s;
        
                    &:hover {
                        color: #a00909;
                    }
                }
            }

            p {
                font-size: 0.7rem;
            }
        }

        #user-menu {
            display: none;
            position: absolute;
            top: 70px;
            right: 50px; 
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            width: 150px;
            z-index: 1001;

            a {
                display: block;
                padding: 10px;
                color: black;
                text-decoration: none;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }


    .background {
        margin-top: 50px;
        padding: 20px;
        height: 350px;
        width: auto;
        background: url('https://media3.giphy.com/media/mqZT98rFc1VMxoxWxp/200.gif?cid=6c09b9529dhwkdz6l2szxgpc283g27v1x70agdmregt5mdyd&ep=v1_gifs_search&rid=200.gif&ct=g') no-repeat center center;
        background-size: cover;

        .search-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 70px;

            h1 {
                text-align: center;
                color: #f4f4f4;
                span {
                    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
                }
            }

            p {
                text-align: center;
                color: #f4f4f4;
            }

            input {
                border: 2px solid black;
                border-radius: 8px;
                padding: 5px;
                width: 400px;
                margin: 30px 10px 30px 10px;
                padding: 10px 5px 10px 5px;
                font-size: 1rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
            }
        }
    }

    .albums-section {
        margin-top: 0;
        height: 500px;
        width: auto;
        background-color: #5b5b5b;

        .albums {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            margin-top: 20px;

            .album {
                text-align: center;
      
                img {
                  width: 200px;
                  height: 200px;
                  object-fit: cover;
                  border-radius: 8px;
                }
          
                h3 {
                  margin: 10px 0 5px 0;
                }
          
                p {
                  color: #666;
                }
            }
        }
    }

    .studio-sessions-section {
        margin-top: 0;
        height: 300px;
        width: auto;
        background-color: #8d8d8d;
    }
    /* main.ejs styling end */
}
