@import 'common';

.main-page {
    /* main.ejs styling start */

    .background {
        margin-top: 50px;
        padding: 20px;
        height: 350px;
        width: auto;
        background: url('https://media3.giphy.com/media/mqZT98rFc1VMxoxWxp/200.gif?cid=6c09b9529dhwkdz6l2szxgpc283g27v1x70agdmregt5mdyd&ep=v1_gifs_search&rid=200.gif&ct=g') no-repeat center center;
        background-size: cover;

        .search-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 70px;

            h1 {
                text-align: center;
                color: #f4f4f4;
                span {
                    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
                }
            }

            p {
                text-align: center;
                color: #f4f4f4;
            }

            input {
                border: 2px solid black;
                border-radius: 8px;
                padding: 5px;
                width: 400px;
                margin: 30px 10px 30px 10px;
                padding: 10px 5px 10px 5px;
                font-size: 1rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
            }

            .artist-buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;

                .button-album {
                    cursor: pointer;
                    padding: 5px 20px 5px 20px;
                    font-size: 20px;
                    font-weight: 600;
                    background-color: white;
                    border: 2px solid black;
                    border-radius: 10px;
                    transition: background-color 0.3s;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    
                    &:hover {
                        background-color: #f0f0f0;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
                    }
                }

                .button-studio {
                    cursor: pointer;
                    padding: 5px 30px 5px 30px;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    background-color: black;
                    border: 1px solid black;
                    border-radius: 10px;
                    transition: background-color 0.3s;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    
                    &:hover {
                        background-color: #474747;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
                    }
                }
            }
        }
    }

    .albums-section {
        margin-top: 0;
        height: 500px;
        width: auto;
        background-color: #5b5b5b;

        .albums {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 30px;
            margin-top: 20px;

            .album {
                text-align: center;
      
                img {
                  width: 200px;
                  height: 200px;
                  object-fit: cover;
                  border-radius: 8px;
                }
          
                h3 {
                  margin: 10px 0 5px 0;
                }
          
                p {
                  color: #666;
                }
            }
        }
    }

    .studio-sessions-section {
        margin-top: 0;
        height: 300px;
        width: auto;
        background-color: #8d8d8d;
    }
    /* main.ejs styling end */
}
