@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.start-page {
  /* start.ejs styling start */
  /* start.ejs styling ends */
}
.start-page .main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 90vh;
}
.start-page .main-container .logo img {
  width: 500px;
  height: auto;
}
.start-page .main-container .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 0px;
}
.start-page .main-container .buttons .login-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.start-page .main-container .buttons .login-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.start-page .main-container .buttons .register-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.start-page .main-container .buttons .register-button:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}

.auth-page {
  /* auth.ejs styling start */
  /* auth.ejs styling end */
}
.auth-page .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.auth-page .main-container .logo img {
  width: 500px;
}
.auth-page .form-container #loginForm, .auth-page .form-container #registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.auth-page .form-container #loginForm input, .auth-page .form-container #registerForm input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.auth-page .form-container #loginForm .full-width, .auth-page .form-container #registerForm .full-width {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.auth-page .form-container #loginForm .full-width:hover, .auth-page .form-container #registerForm .full-width:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.auth-page .form-container #registerForm select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: #808080;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F8FAFC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.navbar .logo-nav {
  display: flex;
  justify-content: flex-start;
}
.navbar .logo-nav img {
  width: 180px;
  height: auto;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 60px;
  margin-right: 10px;
}
.navbar .nav-links li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
.navbar .nav-links li a:hover {
  color: #ddd;
}
.navbar .user-icon-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 30px 50px 20px 20px;
}
.navbar .user-icon-container #user-icon {
  text-align: center;
}
.navbar .user-icon-container #user-icon i {
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}
.navbar .user-icon-container #user-icon i:hover {
  color: #a00909;
}
.navbar .user-icon-container p {
  font-size: 0.7rem;
}
.navbar #user-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 150px;
  z-index: 1001;
}
.navbar #user-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}
.navbar #user-menu a:hover {
  background-color: #f0f0f0;
}

.footer-container {
  /* footer.ejs styling start */
  /* footer.ejs styling ends */
}
.footer-container footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  margin-top: auto;
  background-color: #F8FAFC;
}
.footer-container footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-container footer .footer-content p {
  margin: 0;
}
.footer-container footer .footer-content a i {
  font-size: 2rem;
}
.footer-container footer .footer-content a:hover {
  background-color: #ccc9c9;
  border-radius: 50%;
}

.main-page {
  /* main.ejs styling start */
  /* main.ejs styling end */
}
.main-page .background {
  margin-top: 50px;
  padding: 20px;
  height: 350px;
  width: auto;
  background: url("https://media3.giphy.com/media/mqZT98rFc1VMxoxWxp/200.gif?cid=6c09b9529dhwkdz6l2szxgpc283g27v1x70agdmregt5mdyd&ep=v1_gifs_search&rid=200.gif&ct=g") no-repeat center center;
  background-size: cover;
}
.main-page .background .search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
.main-page .background .search-section h1 {
  text-align: center;
  color: #f4f4f4;
}
.main-page .background .search-section h1 span {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
.main-page .background .search-section p {
  text-align: center;
  color: #f4f4f4;
}
.main-page .background .search-section input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  width: 400px;
  margin: 30px 10px 30px 10px;
  padding: 10px 5px 10px 5px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.main-page .background .search-section .artist-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.main-page .background .search-section .artist-buttons .button-album {
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.main-page .background .search-section .artist-buttons .button-album:hover {
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.main-page .background .search-section .artist-buttons .button-studio {
  cursor: pointer;
  padding: 5px 30px 5px 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.main-page .background .search-section .artist-buttons .button-studio:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.main-page .albums-section {
  margin-top: 0;
  height: 500px;
  width: auto;
  background-color: #5b5b5b;
}
.main-page .albums-section .albums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
.main-page .albums-section .albums .album {
  text-align: center;
}
.main-page .albums-section .albums .album img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.main-page .albums-section .albums .album h3 {
  margin: 10px 0 5px 0;
}
.main-page .albums-section .albums .album p {
  color: #666;
}
.main-page .studio-sessions-section {
  margin-top: 0;
  height: 300px;
  width: auto;
  background-color: #8d8d8d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F8FAFC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.navbar .logo-nav {
  display: flex;
  justify-content: flex-start;
}
.navbar .logo-nav img {
  width: 180px;
  height: auto;
}
.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 60px;
  margin-right: 10px;
}
.navbar .nav-links li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
.navbar .nav-links li a:hover {
  color: #ddd;
}
.navbar .user-icon-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 30px 50px 20px 20px;
}
.navbar .user-icon-container #user-icon {
  text-align: center;
}
.navbar .user-icon-container #user-icon i {
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}
.navbar .user-icon-container #user-icon i:hover {
  color: #a00909;
}
.navbar .user-icon-container p {
  font-size: 0.7rem;
}
.navbar #user-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 150px;
  z-index: 1001;
}
.navbar #user-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}
.navbar #user-menu a:hover {
  background-color: #f0f0f0;
}

.footer-container {
  /* footer.ejs styling start */
  /* footer.ejs styling ends */
}
.footer-container footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  margin-top: auto;
  background-color: #F8FAFC;
}
.footer-container footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-container footer .footer-content p {
  margin: 0;
}
.footer-container footer .footer-content a i {
  font-size: 2rem;
}
.footer-container footer .footer-content a:hover {
  background-color: #ccc9c9;
  border-radius: 50%;
}

.dashboard-page .main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dashboard-page .main-container .dashboard-section {
  margin-top: 130px;
  flex: 1;
}
.dashboard-page .main-container .dashboard-section .container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: repeat(8, 1fr);
  width: 70%;
  gap: 5px;
}
.dashboard-page .main-container .dashboard-section .user-details {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}
.dashboard-page .main-container .dashboard-section .albums-display {
  grid-column: 1/3;
  grid-row: 3/6;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}
.dashboard-page .main-container .dashboard-section .sessions-display {
  grid-column: 1/3;
  grid-row: 6/9;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}
.dashboard-page .main-container .dashboard-section .dashboard-album-button {
  grid-column: 2/3;
  grid-row: 1/2;
  cursor: pointer;
  padding: 3px 8px 3px 8px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.dashboard-page .main-container .dashboard-section .dashboard-album-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.dashboard-page .main-container .dashboard-section .dashboard-studio-button {
  grid-column: 2/3;
  grid-row: 2/3;
  cursor: pointer;
  padding: 3px 8px 3px 8px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.dashboard-page .main-container .dashboard-section .dashboard-studio-button:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.dashboard-page .main-container .dashboard-section .chat {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  flex-grow: 1;
  padding-bottom: 10px;
  grid-column: 3/4;
  grid-row: 1/9;
}
.dashboard-page .main-container .dashboard-section .chat .chat-messages {
  height: 500px;
  overflow-y: auto;
  padding: 10px;
}
.dashboard-page .main-container .dashboard-section .chat #chat-form {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.dashboard-page .main-container .dashboard-section .chat #chat-form input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.dashboard-page .main-container .dashboard-section .chat #chat-form button {
  padding: 5px 15px;
  background: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */