@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  height: 100%;
  /* start.ejs styling start */
  /* footer.ejs styling start */
  /* footer.ejs styling ends */
}
body .container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* start.ejs styling ends */
  /* auth.ejs styling start */
  /* auth.ejs styling end */
  /* main.ejs styling start */
  /* main.ejs styling end */
}
body .container .logo {
  width: 200px;
  height: 150px;
}
body .container .logo img {
  width: 500px;
  height: auto;
}
body .container .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
body .container .buttons .login-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}
body .container .buttons .login-button:hover {
  background-color: #f0f0f0;
}
body .container .buttons .register-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}
body .container .buttons .register-button:hover {
  background-color: #7d7c7c;
}
body .container .form-container #loginForm, body .container .form-container #registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
body .container .form-container #loginForm input, body .container .form-container #registerForm input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
body .container .form-container #loginForm .full-width, body .container .form-container #registerForm .full-width {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
}
body .container .form-container #loginForm .full-width:hover, body .container .form-container #registerForm .full-width:hover {
  background-color: #7d7c7c;
}
body .container .form-container #registerForm select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: #808080;
}
body .container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F8FAFC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
}
body .container .navbar .logo-nav {
  display: flex;
  justify-content: flex-start;
}
body .container .navbar .logo-nav img {
  width: 180px;
  height: auto;
}
body .container .navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
  margin: 0;
}
body .container .navbar .nav-links li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
body .container .navbar .nav-links li a:hover {
  color: #ddd;
}
body .container .navbar a {
  display: flex;
  justify-content: flex-end;
}
body .container .navbar a i {
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}
body .container .navbar a i:hover {
  color: #ddd;
}
body footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
}
body footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
body footer .footer-content p {
  margin: 0;
}
body footer .footer-content a i {
  font-size: 2rem;
}
body footer .footer-content a:hover {
  background-color: #ccc9c9;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */