@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.start-page {
  /* start.ejs styling start */
  /* start.ejs styling ends */
}
.start-page .main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 90vh;
}
.start-page .main-container .logo img {
  width: 500px;
  height: auto;
}
.start-page .main-container .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 0px;
}
.start-page .main-container .buttons .login-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.start-page .main-container .buttons .login-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.start-page .main-container .buttons .register-button {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.start-page .main-container .buttons .register-button:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}

.auth-page {
  /* auth.ejs styling start */
  /* auth.ejs styling end */
}
.auth-page .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.auth-page .main-container .logo img {
  width: 500px;
}
.auth-page .form-container #loginForm, .auth-page .form-container #registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.auth-page .form-container #loginForm input, .auth-page .form-container #registerForm input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.auth-page .form-container #loginForm .full-width, .auth-page .form-container #registerForm .full-width {
  cursor: pointer;
  padding: 5px 50px 5px 50px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.auth-page .form-container #loginForm .full-width:hover, .auth-page .form-container #registerForm .full-width:hover {
  background-color: #474747;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 40px rgba(0, 0, 0, 0.38);
}
.auth-page .form-container #registerForm select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: #808080;
}

.main-page {
  /* main.ejs styling start */
  /* main.ejs styling end */
}
.main-page .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F8FAFC;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.main-page .navbar .logo-nav {
  display: flex;
  justify-content: flex-start;
}
.main-page .navbar .logo-nav img {
  width: 180px;
  height: auto;
}
.main-page .navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
  margin: 0;
}
.main-page .navbar .nav-links li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
.main-page .navbar .nav-links li a:hover {
  color: #ddd;
}
.main-page .navbar a {
  display: flex;
  justify-content: flex-end;
  padding-right: 95px;
}
.main-page .navbar a i {
  font-size: 24px;
  color: black;
  transition: color 0.3s;
}
.main-page .navbar a i:hover {
  color: #a00909;
}
.main-page .background {
  margin-top: 50px;
  padding: 20px;
  height: 350px;
  width: auto;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(114, 114, 115) 25%, rgb(0, 0, 0) 100%);
}
.main-page .background .search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
.main-page .background .search-section h1 {
  text-align: center;
  color: #f4f4f4;
}
.main-page .background .search-section h1 span {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
.main-page .background .search-section p {
  text-align: center;
  color: #f4f4f4;
}
.main-page .background .search-section input {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  width: 400px;
  margin: 30px 10px 30px 10px;
  padding: 10px 5px 10px 5px;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.main-page .albums {
  margin-top: 0;
  height: 500px;
  width: auto;
  background-color: #5b5b5b;
}
.main-page .studio-sessions {
  margin-top: 0;
  height: 300px;
  width: auto;
  background-color: #8d8d8d;
}

.footer-container {
  /* footer.ejs styling start */
  /* footer.ejs styling ends */
}
.footer-container footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  position: static;
  bottom: 0;
  width: 100%;
  min-height: 5vh;
  margin-top: auto;
}
.footer-container footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-container footer .footer-content p {
  margin: 0;
}
.footer-container footer .footer-content a i {
  font-size: 2rem;
}
.footer-container footer .footer-content a:hover {
  background-color: #ccc9c9;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */